#headerContainer {
    width: 100%;
    height: 50rem;
}

#headerContainer h1 {
    font-family: Tilt Prism, quicksand, sans-serif;
    color: antiquewhite;
    font-size: 8rem;
    top: 8rem;
    z-index: 2;
    position: absolute;
    width: 100%;
    text-align: center;

}

#headerContainer .headerPhoto {
    position: relative;
    height: 50rem;
    object-fit: cover;
    width: 100%;
    z-index: 1;
}

#headerContainer .introductionTextContainer {
    z-index: 2;
    position: absolute;
    top: 32rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#headerContainer .introductionTitle {
    font-family: quicksand, sans-serif;
    color: antiquewhite;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 10px;
}

#headerContainer .introductionText {
    font-family: quicksand, sans-serif;
    color: antiquewhite;
    font-size: 2rem;
    padding-left: 0.5rem;
    margin: 0;
}

@media (max-width: 1200px) {

    #headerContainer .introductionTextContainer {
        display: none;
    }
}