.bckPattern {
    background: linear-gradient(45deg, transparent 49%, #2c5f56 49% 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #2c5f56 49% 51%, transparent 51%);
    background-size: 1em 1em;
    background-color: #356e73;
    opacity: 1;
    width: 100%;
    height: 100%;
}

#projectsContainer .projectsTitlePage {
    font-family: quicksand, sans-serif;
    color: #f7a61b;
    font-size: 3rem;
    margin: 0;
    padding-left: 5%;
    padding-top: 10rem;
    margin-bottom: 2rem;
}

#projectsContainer .projectCards {
    display: flex;
    flex-wrap: wrap;
}

#projectsContainer .porjectsIntroText {
    color: #f7a61b;
    font-family: quicksand, sans-serif;
    font-size: 1.5rem;
    padding-right: 5rem;
    padding-left: 5rem;
}